/* #2196F3; #000000; #ffffff; цвета лого */

/* Основной цвет текста color: #757575; */

/* Дополнительный цвет текста color: #212121; */

/* hover #2196F3; */

/* Основной background-color: #ffffff; */

/* Дополнительный background-color: #F5F4FA; */

/* Шаблы  */

/* центрирование margin: 0 auto; */
/* рамка не влияющая на размер элемента */
/* outline: 2px solid (color); */
/* Прозрачная рамка "outline: 2px solid transparent" */

/* Замена Width в FB */
/* flex-basis: calc((100% - кіль-сть_відступів_в_рядку * довжина_одного_відступу_в_рядку) / кіль-сть_елементів_в_рядку) */

/* Default shadow */
/* box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
0px 1px 3px 0px rgba(0, 0, 0, 0.12); */

/* 

icon {
  display: inline-block; - позволяет корректировать геометрию сточных элементов
  vertical-align: middle; - Центрирование иконок по уровню самого высокого элемента (по центру)
} */

/* Rules: */
/* 1170px gutter 30px отступ слева 15 и справа 15 = 1200px */
/* Не заюзал бордер-бокс - не человек */
/* Проверка верстки переполнением контентом! */

/* Default styles*/
html {
  box-sizing: border-box;
}

img {
  display: block;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --hover-button-color: #1d86dd;
  --background-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --bg-overlay-color: #c4c4c4;
  --logo-color: #000000;

  --transparent-bgc-grey: rgba(47, 48, 58, 0.8);
  --transparent-bgc-blue: rgba(33, 150, 243, 0.9);

  --about-text-color: rgba(255, 255, 255, 1);

  --underline-color: #ececec;

  /* Portfolio */
  --btn-menu-color: #f5f4fa;

  --footer-address-color: rgba(255, 255, 255, 0.6);

  --outline-control-color: #06b785;

  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;

  /* icons */
  --icon-color: #afb1b8;

  --footer-icon-color: rgba(255, 255, 255, 0.1);

  /* modal */
  --backdrop-color: rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  margin: 0;
}

/* Скрытие логических элементов (шаблон) 
(Например семантически необходимый, 
но не нужный заголовок в section */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section.team {
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--second-bg-color);
}

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* list */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Container centering*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* Page header */

.page-header {
  min-height: 80px;
  width: 100%;
  top: 0;
  left: 0;

  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--underline-color);
}

.header-container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container.display {
  display: flex;
  align-items: center;
}

/* LOGO */

.nav-link.visit {
  position: relative;
  color: var(--accent-color);
}

.nav-link.visit::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: var(--accent-color);
  text-decoration: none;
  line-height: 1.4;
}

.logo > .logo-type {
  color: var(--logo-color);
}

.logo.footer > .logo-type {
  color: var(--primary-white-color);
}

.logo.footer {
  display: inline-block;
  margin-bottom: 28px;
}

/* Navigation */

.main-nav {
  margin-left: 93px;
}

.site-nav {
  display: flex;
}

.link {
  display: inline;
}

.icon-post,
.icon-phone {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-post:hover,
.icon-post:focus,
.icon-phone:hover,
.icon-phone:focus {
  fill: currentColor;
}

/* Один из вариантов установки корректных отступов без первого элемента */

/* .site-nav .item + .item,
.contacts .item + .item {
  margin-left: 50px;
} */

/* Современный вариант */

.site-nav,
.contacts {
  display: flex;
  gap: 50px;
}

.contacts.list {
  margin-left: auto;
}

.nav-link,
.contacts-link {
  display: flex;
  align-items: center;
  padding: 32px 0;

  fill: var(--primary-text-color);
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link {
  color: var(--primary-text-color);
}

.nav-link:hover,
.contacts-link:hover,
.nav-link:focus,
.contacts-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* Hero */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 696px;
  padding: 0;

  color: var(--primary-white-color);

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.overlay {
  min-height: 600px;
  max-width: 1600px;
  background-color: var(--bg-overlay-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/dec-pic/overlay-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Button default */

.button {
  display: inline-block;
  min-width: 216px;
  height: 50px;
  padding: 10px 32px;
  border: 2px solid transparent;
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;

  color: var(--title-text-color);
  background-color: var(--background-color);

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Primary btn */

.button.primary {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 2px solid transparent;
}

button.primary:hover,
button.primary:focus {
  background-color: var(--hover-button-color);
}

.button.primary:active {
  color: var(--accent-color);
  background-color: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

/* .button.second {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;

  color: white;
  background-color: #grey;
} */

/* .button.second:hover,
.button.second:focus {
  background-color: var(--hover-button-color);
  cursor: pointer;
} */

/* .button.second:active {
  color: var(--accent-color);
  background-color: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
} */

/* .button.second::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: red;
  margin-right: 10px;
} */
/* Sections & titles & lists & sybtitles */

/* Section */

.section {
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.team {
  margin-bottom: 0;
  padding-bottom: 94px;

  background-color: var(--second-bg-color);
}

.section-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.section-title.team {
  margin-bottom: 50px;
}

/* Feauture */

.feauture.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feauture-list {
  display: flex;
  flex-wrap: wrap;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.feauture-text {
  margin-top: 10px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

.feauture-list .item {
  width: calc((100% - 90px) / 4);
}

.feauture-list .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.feauture-list .item:not(:nth-child(-n + 4)) {
  margin-bottom: 0;
}

/* Icon settings */

.icon-container.feauture {
  display: inline-flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-menu-color);
  margin-bottom: 30px;
}

.icon-feauture {
  width: 70px;
  height: 70px;
}

.icon-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50px;

  background-color: var(--primary-white-color);
  fill: var(--icon-color);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) */
}

.icon-link:hover,
.icon-link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);

  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2); */
}

.icon-link:active {
  /* box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.12), inset 1px 1px 3px 0px rgba(0, 0, 0, 0.14),
    inset -1px 1px 1px 0px rgba(0, 0, 0, 0.2); */
}

.team-icons {
  width: 20px;
  height: 20px;
  gap: 30px;
}

.client.section-title {
  text-align: center;
  margin-bottom: 50px;
  padding: 0;
}

.icon.list {
  display: inline-flex;
  gap: 30px;
}

.icon-link.partner {
  display: inline-flex;

  width: 170px;
  height: 92px;
  padding: 0;
  margin-top: 0;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link.partner:nth-last-child(1) {
  margin: 0;
}

.icon-link.partner:hover,
.icon-link.partner:focus {
  background-color: transparent;
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: none;
}

.partner-icon {
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
}

/* About us */

.section.about {
  padding-top: 0;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about-thumb {
  position: relative;
}

.about-text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;

  width: 100%;
  padding: 27px 0;
  text-align: center;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--about-text-color);
  background-color: var(--transparent-bgc-grey);
}

/* .about-list {
  display: flex;
}

.about-list .item {
  width: calc((100% - 60px) / 3);
  outline: 1px solid var(--outline-control-color);
}

.about-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
} 

.about-list .item:not(:nth-child(-n + 3)) {
 margin-bottom: 0;
} */

/* Team */

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list .item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Subtitle h3 */

.subtitle {
  margin-bottom: 0;
  margin-top: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.subtitle-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.subtitle-team {
  margin: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
}

.subtitle-text.team {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

/* title centering */

.centered {
  text-align: center;
  margin-bottom: 50px;
}

/* Footer & Address */

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.footer.container {
  display: flex;
  align-items: baseline;

  width: 1200px;
  padding: 0 15px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.footer > .item + .item {
  margin-top: 12px;
}

.location {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.location > .location-type {
  display: inline-block;
  color: var(--primary-white-color);
  margin-bottom: 12px;
}

.footer.contacts-link {
  display: inline-block;
  padding: 0px;

  font-weight: 400;
  color: var(--footer-address-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer.contacts-link:hover,
.footer.contacts-link:focus {
  color: var(--accent-color);
}

.social-block {
  margin-left: 70px;
}

.subscribe.subtitle {
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.list.social-icons {
  display: inline-flex;
  gap: 10px;
}

.social.icon-link {
  background-color: var(--footer-icon-color);
  fill: var(--primary-white-color);

  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2); */
}

.social.icon-link:hover,
.social.icon-link:focus {
  background-color: var(--accent-color);
}

.social.icon-link:active {
  /* box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.12), inset 1px 1px 3px 0px rgba(0, 0, 0, 0.14),
    inset -1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  background-color: transparent; */
}

/* 1 of flex variants */

/* .test-container {
  
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


.flex-conteiner {
  display: flex;
  flex-wrap: wrap;
  background-color: teal;

}

.flex-element {
  width: 380px;
  width: calc((100% - 60px) / 3);
  background-color: tomato; 
}

.flex-element:not(:nth-child(3n)) {
  margin-right: 30px;
}

.flex-element:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
} */

/* Portfolio styles */

/* Button menu */

.filter.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  padding: 0;
}

.button-items {
  min-width: 73px;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;

  border: 2px solid transparent;
  border-radius: 4px;
  padding: 6px 25px;

  cursor: pointer;
}

.btn.element {
  color: var(--title-text-color);
  background-color: var(--btn-menu-color);
  border: 1px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.element:hover,
.btn.element:focus {
  color: var(--primary-white-color);
  background-color: var(--hover-button-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn.element:active {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  border: 1px solid var() var(--accent-color);
  cursor: pointer;
}

/* Portfolio's main-section  (for auto-correction-header-js)*/

/* .main-portfolio {
  padding-top: 80px;
} */

/* Portfolio */

.item-container {
  padding: 20px 24px;

  background-color: var(--primary-white-color);
  border-left: 1px solid var(--underline-color);
  border-right: 1px solid var(--underline-color);
  border-bottom: 1px solid var(--underline-color);
}

.portfolio-link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.subtitle.portfolio {
  text-transform: none;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
}

.subtitle-text.type {
  margin: 0;
  margin-top: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.text-position {
  position: relative;
  overflow: hidden;
}

.description-text {
  position: absolute;
  top: 0%;
  left: 0;

  display: block;
  margin: 0;
  padding: 63px 24px;
  height: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  background-color: var(--transparent-bgc-blue);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-link:hover .description-text {
  transform: translateY(0);
}

/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop-color);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -25%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  position: absolute;
  top: 6px;
  right: 7px;

  padding: 0;
  margin: 0;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
